/* -- Reset -- */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:circle;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}


.aspic_kb{
	border: 1px solid black;
	width: 284px;
	padding: 5px;
	height:150px;
	overflow:scroll;
	font-size:10pt;
}

.title{
	display:inline-block;
	vertical-align:top;
	margin:5px;
	position:relative;
}

.loading_img{
	height:200px;
}

.arg_acceptable{
	background-color:#33BB00;
	color:#FFFFFF;
	padding:3px;
	font-size:11pt;
}

.arg_unacceptable{
	background-color:#990000;
	color:#FFFFFF;
	padding:3px;
	font-size:11pt;
}

blockquote{
	position:relative;
	left:100px;
	font-weight: bold;
}

.secthead{
	font-size:12pt;
}
.delp{
	font-size:11pt;
}

.logo{
	font-weight:bold;
	font-size:12pt;
	position:absolute; top:12px; left:73px;
}

#topmsg{
	font-size:10pt;
}

.logo a{
	font-size:12pt;	
}

/* Tooltip style */
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }


/* -- Style -- */
#header-TXT { 
	height: 48px; 
	padding: 0px 0px 0px 0px; 
	margin: 27px 0 .5em 0px;	
	position:relative;
	left:890px;
	top:-17px;
}

div.container_topbar{
	font-size:12pt;
}


div.resultOverlay{
	position:absolute;
	top: 50px;
	height: 500px;
	background-color:#EEEEEE;
	padding:20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 0 0 30px 5px #999;
	-webkit-box-shadow: 0 0 30px 5px #999;
}
.resultContainer{
	overflow-x:hidden;
	overflow-y:auto;
	height:490px;	
}

img.closeImg{
	border-style:none;
	-mox-box-shadow: 0 0 30px 5px #999;
	-webkit-box-shadow: 0 0 30px #999;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

#header-subtxt{
	position:relative;
	top:  15px;
	left: -180px;
}

header a{
	text-decoration: none;
	font-size:8pt;
	color: #227bd7;
}

html{
	overflow-y:scroll;
}

textarea{
	font-size: 1em;
	width: 220px;
}

html, body {
    font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    background-color: #f9f9f9;
    color: #666666;
}

a {
    color: #008000;
}

p {
    text-align:justify;
    line-height: 160%;
    margin: 15px 0px;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    color: #7f8085;
}


/* -- Layout -- */
div#ccol {
    width: 1000px;
    margin: 0px auto;
}

header {
    padding: 30px 0px 15px 0px;
}

div#signup {
    border: 1px solid #cdd0d5;
    border-radius:5px;
    background-color: #fefeff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefeff), to(#e2e2e4));
    background-image: -webkit-linear-gradient(top, #fefeff, #e2e2e4);
    background-image:    -moz-linear-gradient(top, #fefeff, #e2e2e4);
    background-image:     -ms-linear-gradient(top, #fefeff, #e2e2e4);
    background-image:      -o-linear-gradient(top, #fefeff, #e2e2e4);
	overflow: auto;
	width: 100%;
    margin: 40px 0px;
    -moz-box-shadow: 0px 5px 4px #888;
    -webkit-box-shadow: 0px 5px 4px #888;
    box-shadow: 0px 5px 4px #888;
    position: relative;
}

div#signup div#guest {
    width: 349px;
    float: left;
}

div#signup div#register {
    width: 349px;
    float: right;
    border-left: 1px solid #cdd0d5;
}

div#signup div#guest div, div#signup div#register div {
    margin: 20px;
}

img#bookmarklet {
    margin: 5px auto;
    display: block;
}

img#bookmarklet2 {
    margin: 5px auto;
    display: block;
}

div#orarrow {
    position: absolute;
    left: 50%;
    margin-left: -22px;
    top: 120px;
}

/* -- Forms -- */

form.fstyle label {
    margin: 0px;
}

form.fstyle input.itext{
    padding: 5px;
    float: right;
    width: 180px;
    border: 1px solid #bbb;
    background: #fbfbfb;
    font-size: 13px;
    border-radius: 4px;
    margin-top: -5px;
}

form.fstyle input.iimage{
    margin-left: 183px;
}

a
{
	text-decoration:none;
	font-weight:bold;
	color:#227bd7
}

.acc_arg{
	color:green;
}

.unacc_arg{
	color:red;
}

.formInput{
	vertical-align:top;
	padding-right:10px;
}

/*.container{
*	border:1px solid black;	padding: 5px;
}*/
.container{
	border: 1px solid #cdd0d5;
	padding:20px;

	
	
    border-radius:5px;
    background-color: #fefeff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefeff), to(#e2e2e4));
    background-image: -webkit-linear-gradient(top, #fefeff, #e2e2e4);
    background-image:    -moz-linear-gradient(top, #fefeff, #e2e2e4);
    background-image:     -ms-linear-gradient(top, #fefeff, #e2e2e4);
    background-image:      -o-linear-gradient(top, #fefeff, #e2e2e4);
	overflow: auto;
	/*width: 100%;*/
   /* margin: 3px 0px;*/
    -moz-box-shadow: 0px 5px 4px #888;
    -webkit-box-shadow: 0px 5px 4px #888;
    box-shadow: 0px 5px 4px #888;
    position: relative;
}

.container_title{
	position:relative;
	vertical-align:top;
	top: -15px;
	left: 20px;
	background-color: #f9f9f9;
}

.resultImage{
	position:relative;
	top: 50px;
}
