/* -- Reset -- */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:circle;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}


blockquote{
	position:relative;
	left:100px;
	font-weight: bold;
}

/* Tooltip style */
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }


/* -- Style -- */
#header-TXT { 
	height: 48px; 
	padding: 0px 0px 0px 0px; 
	margin: 27px 0 .5em 0px;	
	position:relative;
	left:890px;
	top:-17px;
}

div.container_topbar{
	font-size:12pt;
}

table.api td{
    padding:10px;
}

span.example{
    position:relative;
    display:block;
    left:50px;
    margin:10px;
    padding:5px;
    width:500px;
    border:1px dashed #000000;
    background-color:#FFFFFF;
    font-weight:bold;
}   


div.resultOverlay{
	position:absolute;
	top: 50px;
	height: 500px;
	background-color:#efece8;
	padding:20px;
	/*-moz-border-radius: 15px;
	border-radius: 15px;*/
	-moz-box-shadow: 0 0 30px 5px #999;
	-webkit-box-shadow: 0 0 30px 5px #999;
}
.resultContainer{
	overflow-x:hidden;
	overflow-y:auto;
	height:490px;	
}

img.closeImg{
	border-style:none;
	-mox-box-shadow: 0 0 30px 5px #999;
	-webkit-box-shadow: 0 0 30px #999;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

#header-subtxt{
	position:relative;
	top:  15px;
	left: -180px;
}

header a{
	text-decoration: none;
	font-size:8pt;
	color: #227bd7;
}

html{
	overflow-y:scroll;
}

textarea{
	font-size: 1em;
	width:100%;
}

html, body {
    font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    background-color: #f9f9f9;
    color: #666666;
}

a {
    color: #008000;
}

p {
    text-align:justify;
    line-height: 160%;
    margin: 15px 0px;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    color: #7f8085;
}


/* -- Layout -- */
div#ccol {
    max-width: 1200px;
    margin: 0px auto;
}

div#hdr_content {
    max-width: 1200px;
    margin: 0px auto;
}

span#hdr_txt{
    color:#FFFFFF;
}

header {
    padding: 30px 0px 15px 0px;
}

div#signup {
    border: 1px solid #cdd0d5;
    border-radius:5px;
    background-color: #fefeff;
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefeff), to(#e2e2e4));
    background-image: -webkit-linear-gradient(top, #fefeff, #e2e2e4);
    background-image:    -moz-linear-gradient(top, #fefeff, #e2e2e4);
    background-image:     -ms-linear-gradient(top, #fefeff, #e2e2e4);
    background-image:      -o-linear-gradient(top, #fefeff, #e2e2e4);*/
	overflow: auto;
	width: 100%;
    margin: 40px 0px;
   /* -moz-box-shadow: 0px 5px 4px #888;
    -webkit-box-shadow: 0px 5px 4px #888;
    box-shadow: 0px 5px 4px #888;*/
    position: relative;
}

div#signup div#guest {
    width: 349px;
    float: left;
}

div#signup div#register {
    width: 349px;
    float: right;
    border-left: 1px solid #cdd0d5;
}

div#signup div#guest div, div#signup div#register div {
    margin: 20px;
}

img#bookmarklet {
    margin: 5px auto;
    display: block;
}

img#bookmarklet2 {
    margin: 5px auto;
    display: block;
}

div#orarrow {
    position: absolute;
    left: 50%;
    margin-left: -22px;
    top: 120px;
}

/* -- Forms -- */

form.fstyle label {
    margin: 0px;
}

form.fstyle input.itext{
    padding: 5px;
    float: right;
    width: 180px;
    border: 1px solid #bbb;
    background: #fbfbfb;
    font-size: 13px;
    border-radius: 4px;
    margin-top: -5px;
}

form.fstyle input.iimage{
    margin-left: 183px;
}

a
{
	text-decoration:none;
	font-weight:bold;
	color:#227bd7
}

.acc_arg{
	color:green;
}

.unacc_arg{
	color:red;
}

.formInput{
	/*vertical-align:top;*/

	width:278px;
	padding:5px;
}

/*.container{
*	border:1px solid black;	padding: 5px;
}*/

.info{
    background-color:#efece8;
    display:block;
    padding:20px;
    font-size:10pt;
    text-align:justify;
    margin-bottom:20px;
}

div h1{
    font-size:14pt;
    padding-bottom:10px;
}

div h2{
    font-size:12pt;
    padding-bottom:10px;
}

/*.container-row{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    
}*/

.container-outer{
    /*width:100%;
    /*background-color: #e2e2e4;*/
    background-color:#efece8;
    display:flex;
    justify-content:center;
    margin-bottom:20px;
}

.container{

	display:inline-flex;
	flex-direction:row;
	flex-wrap:wrap;
	
	/*justify-content:flex-start;
	flex-wrap: wrap;*/
	
   /* border-radius:5px;*/
   /* background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefeff), to(#e2e2e4));
    background-image: -webkit-linear-gradient(top, #fefeff, #e2e2e4);
    background-image:    -moz-linear-gradient(top, #fefeff, #e2e2e4);
    background-image:     -ms-linear-gradient(top, #fefeff, #e2e2e4);
    background-image:      -o-linear-gradient(top, #fefeff, #e2e2e4);*/
	overflow: auto;

   /* margin: 3px 0px;*/
  /*  -moz-box-shadow: 0px 5px 4px #888;
    -webkit-box-shadow: 0px 5px 4px #888;
    box-shadow: 0px 5px 4px #888;*/
}

.container_title{
	position:relative;
	vertical-align:top;
	top: -15px;
	left: 20px;
	background-color: #f9f9f9;
}

.resultImage{
	position:relative;
	top: 50px;
}
